* {
    box-sizing: border-box;
    margin: 2;
    padding: 0;
}

h1 {
    text-align: center;
    color: green;
}

form {
    background-color: darkslategrey;
    width: 400px;
    margin: 0 auto;
    border: 3px solid;
    border-radius: 30px;
    padding: 30px;
    position: relative;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/ds.jpg);
}