* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    width: 800px;
    height: 90px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

nav {
    background-color: brown;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 12px;
    margin-top: 12px;
}

.sec1 {
    background-color: chocolate;
    width: 70px;
    height: 100px;
    float: right;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 105px;
}

#as2 {
    background-color: rgb(24, 206, 24);
    width: 370px;
    height: 720px;
    float: left;
    margin-left: 25px;
    
    /* float: left; */

}

section {
    background-color: darkkhaki;
    width: 575px;
    height: 490px;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

article {
    background-color: darkred;
    width: 1170px;
    height: 720px;
    clear: both;
    margin-left: 15px;
    
}
aside {
    margin-top: 20px;
}

footer {
    background-color: midnightblue;
    width: 1170px;
    height: 200px;
    margin-top: 20px;
    margin-left: 16px;
    float: left;
    
   
}

#caixinha {
    background-color: black;
    width: 1170px;
    height: 320px;
    margin-left: 15px;
   
}

.sec2 {
    background-color: dimgrey;
    width: 365px;
    height: 545px;
    margin-left: 150px;
    margin-top: 80px;
    
}

.divs {
    background-color: limegreen;
    width: 270px;
    height: 330px;
    float: left;
    margin-top: 20px;
    margin-left: 24px;
}

#as1{
    background-color: fuchsia;
    float: left;
    width: 370px;
    height: 720px;
    margin-left: 22px;
}
#as3{
    background-color: greenyellow;
    float: right;
    width: 370px;
    height: 720px;
    margin-right: 20px;
}
#caixa {
    background-color: salmon;
    width: 1200px;
    height: 2900px;
    margin: 0 auto;
    margin-top: 1px;
}